.aboutMainContainer{
    background-color: #e8f9fd;
    height: 90vh;
}

.aboutUsContent{
    
    font-size:1rem;
}


@media screen and (max-width:500px){
    .aboutUsContent{
        font-size:.8rem;
    }
}