.eachProductMainContainer{
    background-color: #e8f9fd;
    height: 89.5vh;
}




.productIndContainer{
    width:50vw;
    border:.1rem;
    border-style: solid;
}



.eachImageContainer{
    height:30vh;
    width:40%;

}

.eachProductImage{
    height:100%;
    width:80%
}

.eachProductName{
    font-size: 1rem;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.eachProductCategory{
    font-size: .4rem;
    font-family: "Roboto";
    text-align: center;
}

.eachProductDescription{
    font-size: .4rem;
    font-family: "Roboto";
    text-align: center;
    margin:0;
    padding: 0;
}
.eachProductPrice{
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    margin:0;
}
.eachProductRate,.eachRateCount{
    font-size: .5rem;
    font-family: "Roboto";
    text-align: center;
    margin-right: .5%;

}

.spinnerContainer{
    background-color: #e8f9fd;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorContainer{
    background-color: #e8f9fd;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.errorImageContainer{
    display:flex;
    justify-content: center;
    height:50%;
    width: 50%;
}

.errorImage{
    height:100%;
    width: 100%;
}



@media screen and (min-width:699px) { 
    .eachProductMainContainer{
        background-color: #e8f9fd;
        height: 90vh;
    }
    
    .eachProductName{
        font-size: 1.5rem;
        font-family: "Roboto";
        text-align: center;
        font-weight: bold;
        margin: 0;
    }
    
    .eachProductCategory{
        font-size: .8rem;
        font-family: "Roboto";
        text-align: center;
    }
    
    .eachProductDescription{
        font-size: .8rem;
        font-family: "Roboto";
        text-align: center;
        margin:0;
        padding: 0;
    }
    .eachProductPrice{
        font-size: 2rem;
        font-weight: bold;
        font-family: "Roboto";
        text-align: center;
        margin:0;
    }
    .eachProductRate,.eachRateCount{
        font-size: 1rem;
        font-family: "Roboto";
        text-align: center;
        margin-right: .5%;
    
    }
    
    
}