.headerText {
  display: flex;
  width:100%;
  background-color: #2155cd;
  color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
}

.brandName{
    font-size: 1rem;
    margin:0;
}

.listText{
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 1rem;
    list-style-type: none;
}
a{ text-decoration: none;
    color:#ffffff;
    
}
@media screen and (min-width:400px) and (max-width:599px) {
    a{
        font-size: .8rem;
    }
    
    .brandName{
        font-size: .8rem;
    }
}


@media screen and (min-width:271px) and (max-width:399px) {
    a{
        font-size: .3rem;
    }
    
    .brandName{
        font-size: .4rem;
    }
}

@media screen and(min-width:200px) and (max-width:270px) {
    a{
        font-size: .1rem;
        
    }
    
    .brandName{
        font-size: .2rem;
    }
}

@media screen and (max-width:199px) {
    a{
        font-size: .2rem;
    }
    
    .brandName{
        font-size: .3rem;
    }
}