/* .productsMainContainer{
    
    height:100%;

} */
.productCardContainer {
  height: 65vh;
}

.productsCard {
  line-height: 0.5;
  width: 20%;
  border-width: 1px;
  border-style: solid;
  margin: 0.2rem;
  text-align: center;
  padding: 0.5rem;
}
.imageContainer {
  height: 50%;
  width: 100%;
}
.productImage {
  height: 100%;
  width: 100%;
}

.productName {
  font-size: 0.8rem;
  font-family: "Roboto";
  text-align: center;
}

.productCategory {
  font-size: 0.8rem;
  font-family: "Roboto";
  text-align: center;
}

.productDescription {
  font-size: 0.8rem;
  font-family: "Roboto";
  text-align: center;
}
.productPrice {
  font-size: 1rem;
  font-family: "Roboto";
  text-align: center;
}
.spinnerContainer {
  background-color: #e8f9fd;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorContainer {
  background-color: #e8f9fd;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImageContainer {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.errorImage {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 699px) {
  .productName {
    font-size: 1.2rem;
  }

  .productCategory {
    font-size: 1rem;
  }

  .productDescription {
    font-size: 1rem;
  }

  .productPrice {
    font-size: 2rem;
  }
}
