.App {
  text-align: center;
  background-color: #e8f9fd;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

body {
  margin: 0;
}
/* 
*{
  outline: solid 1px red;
} */
