@media screen and (max-width: 699px) {
  .centerContainer {
    display: flex;
    margin-top: 1%;
    background-color: white;
    height: 80%;
    width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .centerContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 1%;
    height: 80%;
    width: 70%;
  }
}
