.successMessage {
  color: #2155cd;
  font-family: Arial;
  font-size: 0.9rem;
  width: 90%;
}
.formTopMostContainer {
  width: 90%;
  height: 100%;
}

.formMainContainer {
  display: flex;
  margin-top: 2%;
  margin-left: 8%;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}

.firstNameCon,
.lastNameCon,
.ageCon,
.EmailCon,
.GenderCon,
.roleCon,
.passwordCon,
.confPasswordCon {
  display: flex;
  align-items: center;
  border-color: #79dae8;
  background-color: white;
  border-style: solid;
  height: 5%;
  width: 90%;
  margin-bottom: 0.5%;
}
.formIcon {
  font-size: 0.6rem;
  margin: 1%;
}

.FirstName,
.lastName,
.age,
.gender,
.role,
.emailId,
.password,
.confPassword {
  border: 0;
  width: 80%;
  height: 80%;
  outline: none;
  background-color: white;
  font-size: 0.7rem;
}

.firstNameCon {
  margin-top: 2%;
}

.genderLabel {
  color: grey;
  font-family: Arial;
  margin-right: 6%;
  font-size: 0.7rem;
}
.roleLabel {
  color: grey;
  font-family: Arial;
  margin-right: 9%;
  font-size: 0.7rem;
}
.role {
  background-color: #ffffff;
  width: 40%;
  font-size: 0.5rem;
}
.gender {
  background-color: #ffffff;
  width: 40%;
  font-size: 0.5rem;
}
.tncCon {
  font-family: Arial;
  width: 90%;
  font-size: 0.9rem;
}
.submitBtn {
  cursor: pointer;
  width: 40%;
  font-family: Arial;
  background-color: #2155cd;
  height: 100%;
  border-radius: 0.6em;
  color: #ffffff;
  border: 0;
}
.errorMessage {
  margin: 0;
  padding: 0;
  color: red;
  width: 100%;
  font-size: 0.6rem;
}
option {
  color: gray;
}
.passwordReqs {
  font-family: Arial;
  font-size: 0.7rem;
  width: 90%;
}
@media screen and (max-width: 394px) {
  .formTopMostContainer {
    width: 90%;
    height: 100%;
  }

  .errorMessage {
    margin: 0;
    padding: 0;
    color: red;
    width: 100%;
    font-size: 0.3rem;
  }

  .passwordReqs {
    font-family: Arial;
    font-size: 0.3rem;
    width: 90%;
  }
  .successMessage {
    text-align: center;
    color: #2155cd;
    font-family: Arial;
    font-size: 0.4rem;
    width: 75%;
  }

  .tncCon {
    font-family: Arial;
    width: 90%;
    font-size: 0.5rem;
  }

  .submitBtn {
    cursor: pointer;
    width: 40%;
    font-family: Arial;
    background-color: #2155cd;
    height: 100%;
    font-size: 0.4rem;
    border-radius: 0.6em;
    color: #ffffff;
    border: 0;
  }

  .FirstName,
  .lastName,
  .age,
  .gender,
  .role,
  .emailId,
  .password,
  .confPassword {
    border: 0;
    width: 80%;
    height: 50%;
    outline: none;
    font-size: 0.5rem;
    background-color: white;
  }
  .role {
    background-color: #ffffff;
    width: 40%;
    font-size: 0.3rem;
  }
  .gender {
    background-color: #ffffff;
    width: 40%;
    font-size: 0.3rem;
  }

  .firstNameCon,
  .lastNameCon,
  .ageCon,
  .EmailCon,
  .GenderCon,
  .roleCon,
  .passwordCon,
  .confPasswordCon {
    display: flex;
    align-items: center;
    border-color: #79dae8;
    background-color: white;
    border-style: solid;
    height: 3%;
    width: 90%;
    margin-bottom: 0.3%;
  }
  .formIcon {
    font-size: 0.5rem;
    margin: 1%;
  }

  .genderLabel {
    color: grey;
    font-family: Arial;
    margin-right: 6%;
    font-size: 0.5rem;
  }
  .roleLabel {
    color: grey;
    font-family: Arial;
    margin-right: 9%;
    font-size: 0.5rem;
  }

  .passwordReqs {
    font-family: Arial;
    font-size: 0.6rem;
    width: 90%;
  }
}

@media screen and (min-width: 395px) and (max-width: 699px) {
  .formTopMostContainer {
    width: 90%;
    height: 100%;
  }

  .firstNameCon,
  .lastNameCon,
  .ageCon,
  .EmailCon,
  .GenderCon,
  .roleCon,
  .passwordCon,
  .confPasswordCon {
    display: flex;
    align-items: center;
    border-color: #79dae8;
    background-color: white;
    border-style: solid;
    height: 3%;
    width: 90%;
    margin-bottom: 0.3%;
  }
  .FirstName,
  .lastName,
  .age,
  .gender,
  .role,
  .emailId,
  .password,
  .confPassword {
    border: 0;
    width: 80%;
    height: 50%;
    outline: none;
    font-size: 0.4rem;
    background-color: white;
  }

  .formIcon {
    font-size: 0.4rem;
    margin: 1%;
  }

  .genderLabel {
    color: grey;
    font-family: Arial;
    margin-right: 6%;
    font-size: 0.4rem;
  }
  .roleLabel {
    color: grey;
    font-family: Arial;
    margin-right: 9%;
    font-size: 0.4rem;
  }

  .role {
    background-color: #ffffff;
    width: 40%;
    font-size: 0.3rem;
  }
  .gender {
    background-color: #ffffff;
    width: 40%;
    font-size: 0.3rem;
  }

  .passwordReqs {
    font-family: Arial;
    font-size: 0.5rem;
    width: 90%;
  }
}
