.headingText {
  margin-top:1%;
  color: #2155cd;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 394px) {
  .headingText {
    font-size: 1rem;
  }
}

@media screen and (min-width: 395px) and (max-width: 699px) {
  .headingText {
    font-size: 1.5rem;
  }
}