.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2155cd;
  margin: 0;
  padding: 0;
  background-color: #79dae8;
  height: 100%;
  width: 50%;
}
.sideContainerImage{
  width:80%;
  border-radius: 1rem;
}

.sideAnchor{
  color:#2155cd;
}
.sideHeading{
  margin-bottom: 0;
}
@media screen and (max-width: 699px) {
  .sideContainer {
    display: none;
  }
}
